* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
}

nav ul li {
    display: inline-block;
    padding: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #000;
}

.container {
    max-width: 1299px;
    margin: 0 auto;
    padding-inline: 20px;
}